<h2> User info</h2>
<%= attachment_image_tag user, :profile_image, size: "100x100" , format: 'jpeg', fallback: "no_image.jpg", class: "user_image" %>
<table class="table table">
  <tr>
    <th> name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th> introduction</th>
    <td><%= user.introduction %></td>
  </tr>
</table>
<% if user.id == current_user.id %>
  <%= link_to edit_user_path(user), class: "btn btn-default btn-block edit_user_#{user.id}" do %>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
<% else %>
  <%= link_to user_path(current_user), class: "btn btn-default btn-block user_#{current_user.id}" do %>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
<% end %>

<h2> New book</h2>

<%= form_for(book) do |f| %>
  <h5> Title</h5>
  <%= f.text_field :title, class: "col-xs-12 book_title" %>

  <h5> Opinion</h5>
  <%= f.text_area :opinion, class: "col-xs-12 book_body" %>
  <%= f.submit 'Create Book', class: "btn btn-primary btn-sm btn-block" %>
<% end %>