<!-- 全体共通view -->
<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="container">
            <div class="row">


              <div class="col-lg-3">
                <a class="navbar-brand", style="color: #fff;"> Bookers</a>
              </div>

              <div class="col-lg-9">
                <div class="collapse navbar-collapse" id="navbarEexample7">
                  <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                    <li>
                      <%= link_to user_path(current_user.id), class: "glyphicon glyphicon-home user_#{current_user.id}" do %>
                      <span>Home</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to users_path, class: "glyphicon glyphicon-user users" do %>
                      <span>Users</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to books_path, class: "glyphicon glyphicon-book books" do %>
                      <span>Books</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, class: "glyphicon glyphicon-log-out logout", method: :delete do %>
                      <span>logout</span>
                      <% end %>
                    </li>
                     <% else %>
                    <li>
                      <%= link_to root_path, class: "glyphicon glyphicon-home home" do %>
                      <span>Home</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to new_user_path, class: "glyphicon glyphicon-link about" do %>
                      <span>About</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" do %>
                      <span>Sign Up</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" do %>
                      <span>login</span>
                      <% end %>
                    </li>
                  <% end %>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
  <footer>
    <p>CoryRight Infratop.inc</p>
  </footer>
</html>